<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de qrcode</title>
</head>
<body>
    <form action="/qr-generator" method="post">
        <input type="text" name="qr_name" placeholder="Texto do qr code">
        <button type="submit">Gerar</button>
    </form>
    
    {% if context.have_qr %}
        <img src="{{ url_for('static', filename=context.qr_code) }}" alt="">
    {% endif %}

</body>
</html>